/*
 *  View component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// General settings
// -------------------------
.view-aktuell {
 #pxl-mixins.resp-padding-bottom(50px);

 .views-row {
   #pxl-mixins.resp-padding-bottom(50px);
 }
}

.view-aktuell, .page-node-type-newsbeitrag, .page-node-type-agenda-post {
 .layout__region--content {
   #pxl-mixins.inner-container();
  #pxl-mixins.default-padding();
  position: relative;
  &:before {
   position: absolute;
   margin-left: -30px;
   width: 10px;
   height: 160px;
   content: '';
   background: top left no-repeat url(../images/line_news.svg);
  }
  .field--name-field-thementitel, {
   #pxl-mixins.resp-padding-bottom(3px);
   #pxl-mixins.font-size-responsive();
   font-family: @pxl-text-font-bold;
   text-transform: uppercase;
   letter-spacing: 0.075em;
   color: @pxl-color-brown;
   a {
    color: @pxl-color-brown;
   }
  }
  .field--name-node-title {
   h2 {
    //#pxl-mixins.resp-padding-bottom(10px);
    #pxl-mixins.subtitle();
    margin:0;
    padding: 0;
    text-align: left;
    color: @pxl-color-dark-red;
    text-transform: uppercase;
    a {
     color: @pxl-color-dark-red;
     text-transform: uppercase;
    }
   }
  }
  .field--name-field-event-date {
   //#pxl-mixins.resp-padding-bottom(5px);
   #pxl-mixins.font-size-responsive();
   font-family: @pxl-text-font-bold;
   text-transform: none;
   color: @text-color;
  }
 }
}
.page-node-type-agenda-post {
 .layout__region--content {
  @media @normal {
   padding-left: 140px;
   padding-right: 140px;
  }
 }
}

.view-empty {
 #pxl-mixins.inner-container();
}

//.page-node-type-news {
//
// .field--name-field-date {
//  #pxl-mixins.date();
// }
// .field--name-node-title {
//
// }
//}

#block-views-block-aktuell-block-1 {
 margin: 120px 0 0 0;
 padding: 0;
 max-width: none;
 position: relative;
 background-color: @pxl-color-box-bg;
 &:before {
  position: absolute;
  display: block;
  margin-top: -50px;
  width: 100%;
  height: 50px;
  content: '';
  background: bottom center no-repeat url(../images/Textur_News_Box_top.png);
  background-size: cover;
  @media @normal {
   margin-top: -80px;
   height: 80px;
  }
 }
 &:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 50px;
  content: '';
  background: top center no-repeat url(../images/Textur_News_Box_bottom.png);
  background-size: cover;
  @media @normal {
   height: 80px;
  }
 }
}